{
    // This is your MYSQL Database configuration
    db: {
        name: "bootmeup",
        password: "abc123",
        username: "root",
        host: "localhost",
        port: 3306
    },
    port:3000,
    app: {
        name: "BootMeUp"
    },
    // You will need to get your own client id's before this will work properly
    facebook: {
        clientID: "",
        clientSecret: "",
        callbackURL: "http://www.nodeapp.com:3000/auth/facebook/callback"
    },
    twitter: {
        clientID: "<CLIENT ID>",
        clientSecret: "<CLIENT SECRET>",
        callbackURL: "http://localhost:3000/auth/twitter/callback"
    },
    google: {
          clientID: "",
          clientSecret: "",
          callbackURL: "http://www.nodeapp.com:3000/auth/google/callback"
    }
}
